
<div *ngIf="assessmentSchedule">
    <h2><span jhiTranslate="assessorApp.assessmentSchedule.detail.title">Assessment Schedule</span> {{assessmentSchedule.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.fromDate">From Date</span></dt>
        <dd>
            <span>{{assessmentSchedule.fromDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.toDate">To Date</span></dt>
        <dd>
            <span>{{assessmentSchedule.toDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.descriptionAr">Description Ar</span></dt>
        <dd>
            <span>{{assessmentSchedule.descriptionAr}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.descriptionEn">Description En</span></dt>
        <dd>
            <span>{{assessmentSchedule.descriptionEn}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.createdDate">Created Date</span></dt>
        <dd>
            <span>{{assessmentSchedule.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.createdBy">Created By</span></dt>
        <dd>
            <span>{{assessmentSchedule.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.modifiedDate">Modified Date</span></dt>
        <dd>
            <span>{{assessmentSchedule.modifiedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.modifiedBy">Modified By</span></dt>
        <dd>
            <span>{{assessmentSchedule.modifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="assessorApp.assessmentSchedule.schedules">Schedules</span></dt>
        <dd>
            <span *ngFor="let schedules of assessmentSchedule.schedules; let last = last">
                <a [routerLink]="['/compliance-schedule-assess', schedules?.id ]">{{schedules.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'assessment-schedule-assess/'+ assessmentSchedule.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
