<div>
    <h2>
        <span jhiTranslate="assessorApp.principles.home.title">Principles</span>
        <button class="btn btn-primary float-right jh-create-entity create-principles-assess" [routerLink]="['/', { outlets: { popup: ['principles-assess-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="assessorApp.principles.home.createLabel">
            Create new Principles
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="principles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameAr"><span jhiTranslate="assessorApp.principles.nameAr">Name Ar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameEn"><span jhiTranslate="assessorApp.principles.nameEn">Name En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionAr"><span jhiTranslate="assessorApp.principles.descriptionAr">Description Ar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descriptionEn"><span jhiTranslate="assessorApp.principles.descriptionEn">Description En</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="assessorApp.principles.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="assessorApp.principles.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedDate"><span jhiTranslate="assessorApp.principles.modifiedDate">Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="assessorApp.principles.modifiedBy">Modified By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let principles of principles ;trackBy: trackId">
                <td><a [routerLink]="['../principles-assess', principles.id ]">{{principles.id}}</a></td>
                <td>{{principles.nameAr}}</td>
                <td>{{principles.nameEn}}</td>
                <td>{{principles.descriptionAr}}</td>
                <td>{{principles.descriptionEn}}</td>
                <td>{{principles.createdDate | date:'medium'}}</td>
                <td>{{principles.createdBy}}</td>
                <td>{{principles.modifiedDate | date:'medium'}}</td>
                <td>{{principles.modifiedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../principles-assess', principles.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'principles-assess/'+ principles.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'principles-assess/'+ principles.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="principles && principles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
