<div>
    <h2>
        <span jhiTranslate="assessorApp.complianceSchedule.home.title">Compliance Schedules</span>
        <button class="btn btn-primary float-right jh-create-entity create-compliance-schedule-assess" [routerLink]="['/', { outlets: { popup: ['compliance-schedule-assess-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="assessorApp.complianceSchedule.home.createLabel">
            Create new Compliance Schedule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="complianceSchedules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="assessorApp.complianceSchedule.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="assessorApp.complianceSchedule.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="assessorApp.complianceSchedule.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedDate"><span jhiTranslate="assessorApp.complianceSchedule.modifiedDate">Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modifiedBy"><span jhiTranslate="assessorApp.complianceSchedule.modifiedBy">Modified By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let complianceSchedule of complianceSchedules ;trackBy: trackId">
                <td><a [routerLink]="['../compliance-schedule-assess', complianceSchedule.id ]">{{complianceSchedule.id}}</a></td>
                <td>{{complianceSchedule.text}}</td>
                <td>{{complianceSchedule.createdDate | date:'medium'}}</td>
                <td>{{complianceSchedule.createdBy}}</td>
                <td>{{complianceSchedule.modifiedDate | date:'medium'}}</td>
                <td>{{complianceSchedule.modifiedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../compliance-schedule-assess', complianceSchedule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'compliance-schedule-assess/'+ complianceSchedule.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'compliance-schedule-assess/'+ complianceSchedule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="complianceSchedules && complianceSchedules.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
